body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

a {  transition:.5s linear;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey;
}
.main-menu
{ display:block; width:500px; margin: 0 auto 30px;}
h1 {
  color: red;
}
img {
  margin-left: auto;
  margin-right: auto;
}
p#featured-property {
    width: 800px;
    text-align: justify;
    margin:auto;
    }
.details {


}
